

@model IEnumerable<AssetListDTO>

@{
    Layout = "~/Views/Shared/_AdminInventoryLayout.cshtml";
}

<style>
    #actionLink4 {
        font-size: 1.8rem;
    }
</style>

<h3>Tüm Varlıklar</h3>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Register Number
                    </th>
                    <th>
                        Barcode
                    </th>
                    <th>
                        Asset Type
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Brand
                    </th>
                    <th>
                        Model
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="/admin/inventory/viewasset/@item.ID" >@item.RegistrationNumber</a>
                        </td>
                        <td>
                            <a href="/admin/inventory/viewasset/@item.ID">@item.Barcode</a>
                        </td>
                        <td>
                            @item.AssetTypeName
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.Brand
                        </td>
                        <td>
                            @item.Model
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>